@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;700&display=swap");
@import "nav.css";
@import "index.css";
@import "about.css";
@import "documents.css";
@import "certification.css";
@import "contact.css";

@font-face {
  font-family: "Marguerite";
  src: url("../fonts/marguerite.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  position: relative;
}

h1 {
  padding: 40px 0px 10px;
  text-align: center;
  font-size: 36px;
  font-family: "Baloo Da 2", cursive;
}